header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: .5s;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

.header-logo {
    text-decoration: none;
    font-family: 'header-text', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: var(--primary);
    line-height: 1;
    transition: .5s;
}

.footer-logo {
    transition: .5s;
}

.footer-logo:hover {
    color: var(--secondary-light);
}

.header-logo:hover {
    color: var(--secondary);
}

.header-menu-list ul {
    list-style-type: none;
    padding: 0;
    margin: 60px 0 0 0;
    text-align: center;
}

.header-menu-list ul li a {
    text-decoration: none;
    font-size: 35px;
    font-family: 'header-text', sans-serif;
    color: var(--white);
    position: relative;
    line-height: 1em;
    transition: .5s;
}

.header-menu-list ul li a:hover {
    color: var(--secondary);
}

.header-menu-list ul li a:after {
    content: ' ';
    position: absolute;
    bottom: -10px;
    left: calc(100% - 107%);
    width: 0;
    height: 10px;
    border-radius: 10px;
    background-color: var(--secondary);
}

.header-menu-list ul li a:hover:after {
    transition: width .5s ease-in-out;
    width: 114%;
}

.header-menu-list ul li {
    margin-bottom: 35px;
}

.header-menu-list {
    display: none;
}

.menu-active {
    display: block;
}

.header-menu-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: var(--primary);
    z-index: 9;
}

.menu-popup-close-btn:hover {
    filter: brightness(0) invert(1);
}

.header-menu-list.menu-active {
    width: 100%;
}

.menu-popup-padding {
    padding: 33px 20px;
}

.popup-top-right-decor {
    position: absolute;
    top: 0;
    right: 0;
    width: 225px;
    object-fit: cover;
}

.header-logo-menu-popup {
    font-size: 48px;
    text-decoration: none;
    font-family: 'header-text', sans-serif;
    color: var(--secondary);
    line-height: 1;
    transition: .5s;
}

.header-logo-menu-popup:hover {
    color: var(--secondary-light);
}

.menu-popup-close-btn {
    position: absolute;
    right: 33px;
    top: 33px;
    z-index: 9999;
    height: 60px;
}

.menu-icon,
.menu-popup-close-btn,
.header-menu-icon {
    cursor: pointer;
    transition: .5s;
}

.popup-bottom-left-decor {
    position: absolute;
    bottom: 0;
    left: 0;
}

.secondary-line-decor,
.primary-line-decor {
    position: relative;
}

.secondary-line-decor:after {
    content: ' ';
    height: 10px;
    width: 15%;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    bottom: -20px;
    border-radius: 10px;
    animation: background-animation 5s infinite;
    animation-timing-function: linear;
}

.primary-line-decor:after {
    content: ' ';
    height: 10px;
    width: 6%;
    background-color: #F7C9B9;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -20px;
    border-radius: 10px;
    animation: background-animation-alter 5s infinite;
    animation-timing-function: linear;
}

.banner-section {
    z-index: 1;
    width: 100%;
}

.skill-section-wrapper {
    padding: 87px 0 134px;
    /* background-image: url('../images/skill-bg.svg'); */
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    margin-top: -1%;
    z-index: 3;
    width: 100%;
}

.banner-section h1 {
    margin-bottom: 45px;
}

.skill-section-wrapper h2 {
    margin-bottom: 68px;
}

.skill-icon-wrapper {
    width: 25%;
    text-align: center;
}

.skill-icon-wrapper img {
    height: 150px;
}

.skill-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.with-z-index {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}

.project-section-bg {
    padding: 46px 20px 54px;
    border-radius: 10px;
}

.project-list-item-content {
    color: var(--white);
}

.project-listing {
    margin-top: 65px;
}

.project-list-item-img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.project-list-item {
    position: relative;
    transition: .5s;
}

.project-list-item-content {
    position: absolute;
    bottom: 3px;
    padding: 20px 20px 25px;
    opacity: 0;
    transition: opacity .7s;
}

.project-list-item h6 {
    margin-bottom: 25px;
}

.project-content-hover {
    opacity: 1;
    transition: opacity .7s;
}

.project-list-item-overlay {
    transition: .5s;
}

.project-list-item-overlay-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-shadow: 0px 4px 10px 7px rgba(0, 0, 0, 0.25);
    transition: .5s;
}

.thought-process-wrapper {
    padding: 50px 0 71px;
}

.thought-process-item {
    margin-bottom: 40px;
}

.thought-process-item .primary-line-decor:after {
    margin: 0 !important;
    width: 130px;
}

.thought-process-item h4 {
    margin-bottom: 50px;
}

.thought-process-wrapper h2 {
    margin-bottom: 70px;
}

footer {
    padding: 50px 0;
}

.footer-logo {
    font-size: 48px;
    font-family: 'header-text', sans-serif;
    color: var(--primary);
    text-decoration: none;
    line-height: 1;
}

.footer-link {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

.footer-link a {
    text-decoration: none;
    color: var(--white);
    transition: .5s
}

.footer-link a:hover {
    color: var(--primary);
}

.btn-w-arrow {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-family: 'header-text', sans-serif;
    color: var(--primary);
    gap: 0;
    transition: all .5s;
    font-size: 25px;
}

.btn-w-arrow:hover {
    color: var(--primary);
}

.btn-arrow {
    height: 27px;
    margin-left: 0;
    animation-name: btn-arrow-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.banner-section p {
    margin-bottom: 40px;
    transition: .5s;
}

.btn-w-arrow:hover p {
    text-decoration: underline;
}

.btn-w-arrow:hover .btn-arrow {
    margin-left: 10px;
}

header.nav-active {
    background-color: var(--secondary);
}

header.nav-active .header-logo:hover {
    color: var(--primary-pale);
}

header.nav-active .header-logo {
    font-size: 35px;
}

header.nav-active nav {
    padding: 15px 20px;
}

header.nav-active .header-menu-icon .menu-icon {
    height: 30px;
}

.custom-menu-icon {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: end;
    width: 50px;
}

.custom-menu-icon:hover span {
    width: 100% !important;
    background-color: var(--secondary);
}

.custom-menu-icon span {
    width: 100%;
    height: 5px;
    background-color: var(--primary);
    display: block;
    border-radius: 10px;
    transition: .2s linear;
}

.custom-menu-icon span:nth-child(2) {
    width: 75%;
}

.custom-menu-icon span:nth-child(3) {
    width: 50%;
}

header.nav-active .custom-menu-icon:hover span {
    background-color: var(--primary);
}

.skill-section-wrapper {
    background: linear-gradient(-45deg, #006D77, #83C5BE, #EDF6F9);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes btn-arrow-animation {
    0% {
        margin-left: 0;
        opacity: 0;
    }

    100% {
        margin-left: 20px;
        opacity: 1;
    }
}

@keyframes background-animation {
    0% {
        background-color: var(--primary);
    }

    50% {
        background-color: var(--secondary);
    }

    to {
        background-color: var(--primary);
    }
}

@keyframes background-animation-alter {
    0% {
        background-color: #F7C9B9;
    }

    50% {
        background-color: var(--secondary);
    }

    to {
        background-color: #F7C9B9;
    }
}

@keyframes width-animation {
    0% {
        width: 0%;
        opacity: 0;
    }

    50% {
        width: 50%;
        opacity: .5;
    }

    100% {
        width: 100;
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (min-width: 768px) {
    .footer-link {
        display: flex;
        justify-content: center;
        gap: 55px;
    }

    .project-listing {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 28px;
    }

    .project-section-wrapper {
        padding: 146px 0 150px;
    }
}

@media (max-width: 768px) {
    .banner-section .align-items-center {
        align-items: end;
    }

    .skill-icon-wrapper img {
        height: 80px;
    }
}

@media (max-width: 767px) {
    .footer-link li {
        margin-bottom: 15px;
    }

    .project-list-item {
        margin-bottom: 15px;
    }

    .primary-line-decor:after {
        width: 15%;
    }

    .project-section-wrapper {
        padding: 50px 0 50px;
    }

    .skill-icon-wrapper {
        width: 47%;
    }

    .skill-wrapper {
        gap: 10px;
    }

    .skill-icon-wrapper img {
        height: 80px;
    }

    .skill-section-wrapper {
        margin-top: -10%;
        background-position: center;
        padding: 55px 0 65px;
    }

    .project-list-item-content h6 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .project-list-item-content p {
        font-size: 14px;
    }

    .project-list-item-content {
        padding: 20px 20px 10px;
    }

    .menu-icon {
        height: 25px;
    }

    .popup-top-right-decor {
        width: 135px;
    }

    .popup-bottom-left-decor {
        width: 250px;
    }

    .menu-popup-padding {
        padding: 33px 20px;
    }

    .menu-popup-close-btn {
        right: 15px;
        top: 15px;
        height: 40px;
    }

    .header-menu-list ul li a {
        font-size: 25px;
    }

    .header-menu-list ul li {
        margin-bottom: 25px;
    }

    .footer-link {
        margin-top: 30px;
    }

    .with-z-index {
        padding-top: 150px;
    }

    header nav {
        padding: 20px 10px;
    }
}